# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/


/lista3-06-03-24/cart.json
/lista3-06-03-24/products.json
/lista3-06-03-24/users.json
/lista3-06-03-24/tasks.json

tests/
/01trabalho-13-03-24/data/
/02trabalho-netflix-24-04-24/data/
